

<!DOCTYPE html>
<html lang="en" >

<head>

  <meta charset="UTF-8">
  
<link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
<meta name="apple-mobile-web-app-title" content="CodePen">

<link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />

<link rel="mask-icon" type="" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />


  <title>CodePen - Social Media Profile Page</title>
  
  
  <link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto&amp;display=swap'>
  
<style>

:root {
	--bc: #7e1919;
	--bc-darker: #563d7c;
	--bc-gray: #0e0d10;
	--bc-darkest: #ffffff;
	--white: #ffffff;
	--black: #000000;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #fc454b;
	--primary-dark: #d4393e;
	--secondary: #b091eb;
	--light: #f8f9fa;
	--light-gray: #9a9a9a;
	--dark: #343a40;
	--gradient: linear-gradient(-45deg,  #fcbc45, #fcaa45, #fc9a45, #fc8b45, #fc7c45, #fc7345, #fc6d45, #fc6045, #fc5745, #fc454b);
	--gradient2: linear-gradient(-45deg,  #666666, #666666);
	/* Sizes */
	--heading: 3.4rem;
	--heading-large: 4rem;
	--heading-medium: 2rem;
	--paragraph: 1.1rem;
	--button-large: 1.6rem;
	--button-small: 1.2rem;
	/* Fonts */
	--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	--font-slim: "Roboto";
}
* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	background-color: var(--bc);
}
nav {
	min-height: 8vh;
}
header {
	min-height: 30vh;
}
main {
	min-height: 100vh;
}
/* -
-*-~*~-*-*-~*~-*-*-~*~-* |
Her starter alle Klasser |
-*-~*~-*-*-~*~-*-*-~*~-* |
- */
/* Global classes */
.flexbox {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* Navbar */
.home {
	cursor: pointer;
}
#navbar {
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bc-darkest);
	position: fixed;
	z-index: 100;
}
.navbar-inner {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.navbar-left {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.navbar-right {
	width: 40%;
	padding: 0;
	display: flex;
	align-items: center;
	list-style-type: none;
	justify-content: flex-end;
	position: relative;
}
.navbar-left h3 {
	line-height: 0;
	color: var(--white);
	font-family: 'Roboto Slab', serif;
	font-size: 1.22rem;
	font-weight: 600;
}
.navbar-user-icon {
	width: 45px;
	height: 45px;
	display: block;
	margin: .2em 2em .2em .2em;
	border-radius: 50%;
	cursor: pointer;
}
.navbar-ico {
	width: 40px;
	height: 40px;
}
.i-logo {
	cursor: pointer;
}
/* Nav Button */
#nav-icon3 {
	width: 30px;
	height: 30px;
	position: relative;
	display: block;
	margin: 0 3em 0 2em;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	z-index: 135;
}
#nav-icon3 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: var(--white);
	border-radius: 19px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
	top: 0;
}
#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
	top: 11px;
}
#nav-icon3 span:nth-child(4) {
	top: 22px;
}
#nav-icon3.open span:nth-child(1) {
	top: 18px;
	width: 0;
	left: 50%;
}
#nav-icon3.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
#nav-icon3.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#nav-icon3.open span:nth-child(4) {
	top: 18px;
	width: 0;
	left: 50%;
}
/* USER MENU */
#usermenu {
	background-color: var(--bc);
	padding: 0;
	margin: 0;
	display: none;
	position: fixed;
	top: 8vh;
	right: 0;
	flex-direction: column;
	z-index: 9999;
	transition: all .3s ease-in-out;
}
.usermenu-link-wrap {
	list-style-type: none;
	display: inline-block;
}
.usermenu-link {
	width: 100%;
	color: var(--white);
	margin: auto;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
	cursor: pointer;
	transition: all .1s ease-in-out;
}
.usermenu-link:hover {
	color: var(--light-gray);
	background-color: var(--bc-darker);
}
.usermenu-link-active {
	width: 100%;
	color: #424242;
	margin: auto;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
	cursor: default;
}
.usermenu-link-left {
	display: inline-block;
	margin: .5em;
}
.usermenu-link-right {
	display: inline-block;
	margin: .5em;
}
.arrow {
	position: relative;
	top: -9px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 9px solid var(--bc);
	margin-left: 66%;
}
.usermenu-link-gold-wrap {
	list-style-type: none;
	display: inline-block;
	border: 2px solid transparent;
	color: #d48d00;
	cursor: pointer;
	line-height: 25px;
	position: relative;
	transition: .5s;
}
.usermenu-link-gold-wrap:hover {
	border: 2px solid rgba(0,160,80,0);
	color: #d48d00;
	background-color: var(--bc-darker);
}
.usermenu-link-gold-wrap::before, .usermenu-link-gold-wrap::after {
	width: 100%;
	height: 100%;
	z-index: 3;
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	transform: scale(0);
	transition: .5s;
}
.outline::before {
	border-bottom: 3px solid #d48d00;
	border-left: 3px solid #d48d00;
	transform-origin: 0 100%;
}
.outline::after {
	border-top: 3px solid #d48d00;
	border-right: 3px solid #d48d00;
	transform-origin: 100% 0%;
}
.usermenu-link-gold-wrap:hover::before, .usermenu-link-gold-wrap:hover::after {
	transform: scale(1);
}
.usermenu-link-gold {
	width: 100%;
	color: #d48d00;
	margin: auto;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
	cursor: pointer;
	transition: all .1s ease-in-out;
}
.usermenu-link-gold:hover {
	color: #d48d00;
}
/* Menu */
.menu {
	left: 0;
	top: 8vh;
	max-height: 100vh;
	display: none;
	position: fixed;
	background-color: var(--bc);
	color: var(--white);
	z-index: 11;
}
.menu-inner {
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: scroll;
}
.menu-inner::-webkit-scrollbar-track {
	background-color: var(--bc);
}
.menu-inner::-webkit-scrollbar {
	background-color: var(--bc);
}
.menu-inner::-webkit-scrollbar-thumb {
	background-color: var(--bc-darker);
}
.menu-sec {
	border-bottom: 1px solid var(--bc-gray);
}
.menu-links {
	padding: 0;
	margin: 1em 0;
	font-size: 1.2em;
}
.menu-link {
	margin: 0;
	padding: .8em;
	cursor: pointer;
	list-style-type: none;
	background-color: transparent;
	transition: all .1s ease-in-out;
}
.menu-link:hover {
	color: var(--light-gray);
	background-color: var(--bc-darker);
}
.menu-link-icon {
	margin: 0 1em;
}
.menu-link-active {
	margin: 0;
	padding: .8em;
	cursor: default;
	list-style-type: none;
	background-color: var(--bc-darker);
	color: var(--primary);
}
.menu-link-active-icon {
	margin: 0 1em;
}
.hidden-links {
	margin: 0;
	padding: .8em;
	display: none;
	cursor: pointer;
	list-style-type: none;
	background-color: transparent;
}
.hidden-links:hover {
	background-color: var(--bc-darker);
}
.hidden-links2 {
	margin: 0;
	padding: .8em;
	display: none;
	cursor: pointer;
	list-style-type: none;
	background-color: transparent;
}
.hidden-links2:hover {
	background-color: var(--bc-darker);
}
.menu-sec-bottom {
	margin: 1em;
}
.menu-text {
	margin: 1em;
	padding: 1em;
	font-size: 1em;
	color: #525252;
}
.menu-text-small {
	font-weight: bolder;
	display: inline-block;
	cursor: pointer;
	margin: 0;
	padding: .2em;
	font-size: .9em;
	color: #525252;
	transition: opacity .1s ease-in-out;
}
.menu-text-small:hover {
	opacity: .7;
}
/* User profile */
.user-header-wrapper {
	margin: 8vh 0 0 0;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.user-icon-wrapper {
	position: absolute;
	z-index: 10;
}
.user-icon {
	border-radius: 50%;
	display: block;
	width: 250px;
	height: 250px;
}
.user-header-inner {
	z-index: 5;
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.user-header-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, .15);
	z-index: 6;
}
.user-header {
	width: 100%;
	height: 100%;
}
.user-info-block {
	width: 100%;
  min-height: 80vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.username-wrapper {
	display: flex;
	min-width: 50%;
	position: relative;
	justify-content: flex-start;
	align-items: baseline;
	font-size: 1.5em;
	cursor: default;
}
.username-wrapper h1 {
	margin: 0 .2em;
}
.username {
	color: var(--white);
	display: inline-block;
}
.username-verified {
	width: 1.5em;
	height: auto;
}
.verified {
	width: 100%;
	color: var(--black);
	font-family: var(--font-slim);
	background-color: var(--white);
	text-transform: uppercase;
	letter-spacing: .2em;
	font-weight: 900;
	text-align: center;
	border-radius: 50px;
	font-size: .8em;
	padding: .25em;
	position: absolute;
	pointer-events: none;
	top: 150%;
	left: 0;
	opacity: 0;
	transition: all .5s cubic-bezier(.175,.885,.32,1.275);
}
.verified::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	transform: rotateZ(-90deg);
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 12px solid var(--white);
	position: absolute;
	top: -16px;
	left: 50%;
}
.uname-verified {
	width: 25px;
	height: auto;
}
.user-info-bar {
	width: 100%;
	display: grid;
	padding: .75em 0 1em 0;
	background-color: var(--bc-darker);
	grid-template-columns: 1fr 30% 0 20% 1fr;
	grid-template-rows: auto;
	grid-template-areas:
			".ufo-bar-col1 .ufo-bar-col2 .ufo-bar-col3 .ufo-bar-col4 .ufo-bar-col5";
}
.ufo-bar-col2-inner {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
}
.ufo-bar-bio {
	color: var(--gray);
}
.ufo-bar-col3-inner {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ufo-bar-fff {
	margin: .25em .5em;
	color: var(--dark);
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}
.ufo-bar-fff span {
	color: var(--dark);
	font-weight: 600;
}
.ufo-bar-fff-active {
	margin: .25em .5em;
	color: var(--primary-dark);
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}
.ufo-bar-fff-active span {
	font-weight: 600;
}
.ufo-bar-col4-inner {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.ufo-bar-col5 {
}
.user-info-bar2 {
	width: 100%;
	display: grid;
	color: var(--black);
	background-color: var(--bc-darker);
	grid-template-columns: 1fr 10% 10% 10% 10% 10% 1fr;
	grid-template-rows: auto;
	grid-template-areas:
			".ufo-bar2-col1 .ufo-bar2-col2 .ufo-bar2-col3 .ufo-bar2-col4 .ufo-bar2-col5 .ufo-bar2-col6 .ufo-bar2-col7";
}
.ufo-bar2-block-active {
	border-bottom: 4px solid var(--dark);
	cursor: default;
}
.ufo-bar2-block {
	border-bottom: 4px solid var(--bc-darker);
	cursor: pointer;
}
.ufo-bar2-col2-inner {
	width: 100%;
}
.ufo-bar2-col3-inner {
	width: 100%;
}
.ufo-bar2-col4-inner {
	width: 100%;
}
.ufo-bar2-col5-inner {
	width: 100%;
}
.ufo-bar2-col6-inner {
	width: 100%;
}
/* Button 2 */
.button2, .btn-secondary2 {
	margin: 0 .4em;
	position: relative;
	cursor: pointer;
	padding: .9em 1em;
	letter-spacing: .1em;
	text-align: center;
	font-weight: 300;
	color: var(--bc-darker);
	font-size: var(--button-small);
	background: var(--gradient);
	background-size: 1100%;
	border-radius: 50px;
	border: none;
	transform: scaleX(1);
	transition: background-position 3s cubic-bezier(.455,.03,.515,.955),-webkit-transform .3s cubic-bezier(.175,.885,.32,1.275);
	transition: transform .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955);
	transition: transform .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955),-webkit-transform .3s cubic-bezier(.175,.885,.32,1.275);
}
.button2 {
	transition: bottom .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955),-webkit-transform .3s cubic-bezier(.175,.885,.32,1.275);
	transition: transform .3s cubic-bezier(.175,.885,.32,1.275),bottom .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955);
	transition: transform .3s cubic-bezier(.175,.885,.32,1.275),bottom .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955),-webkit-transform .3s cubic-bezier(.175,.885,.32,1.275);
}
.button2, .button2 .btn-secondary2 {
	background-position: 0 50%;
	bottom: 0;
}
.button2 .btn-secondary2 {
	left: 0;
	width: 90%;
	position: absolute;
	filter: blur(16px);
	opacity: .9;
	z-index: -1;
	transform: scale3d(.9, .9, 1);
	transition: bottom .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955),-webkit-transform .3s cubic-bezier(.175,.885,.32,1.275),-webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);
	transition: transform .3s cubic-bezier(.175,.885,.32,1.275),filter .3s cubic-bezier(.175,.885,.32,1.275),bottom .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955);
	transition: transform .3s cubic-bezier(.175,.885,.32,1.275),filter .3s cubic-bezier(.175,.885,.32,1.275),bottom .3s cubic-bezier(.175,.885,.32,1.275),background-position 3s cubic-bezier(.455,.03,.515,.955),-webkit-transform .3s cubic-bezier(.175,.885,.32,1.275),-webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);
}
.button2:focus, .button2:hover {
	transform: scale3d(1.1, 1.1, 1);
	background-position: 100% 50%;
	outline: none;
	bottom: 2px;
}
.button2:focus .btn-secondary2, .button2:hover .btn-secondary2 {
	background-position: 100% 50%;
	filter: blur(25px);
	bottom: -5px;
}
/* Footer */
#footer {
	width: 100%;
	min-height: 30vh;
	padding: 25vh 0 0 0;
	display: flex;
	background-color: var(--bc-darkest);
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.footer-inner {
	width: 80%;
	min-height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-left {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.footer-left a {
	color: var(--white);
	font-size: 1.11rem;
	letter-spacing: .1em;
	font-weight: 300;
	cursor: pointer;
	transition: color .2s ease-in-out;
}
.footer-left a:hover {
	color: var(--primary);
}
.footer-right {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
}
.footer-links {
	margin: 0 0 1.5em 0;
}
.footer-link {
	margin: 0 1em;
	color: var(--white);
	cursor: pointer;
	text-decoration: none;
	transition: color .2s ease-in-out;
}
.footer-link:hover {
	color: var(--primary);
}
.fl-first {
	margin: 0 1em 0 0;
}
.fl-last {
	margin: 0 0 0 1em;
}
.footer-text {
	margin: 1em .5em;
	color: var(--gray);
	font-size: .85em;
	width: 50%;
	transition: color .2s ease-in-out;
}
.footer-sites {
	color: var(--gray);
	font-size: .85em;
}
.footer-sites a {
	margin: 0 .5em;
	color: var(--white);
	border-bottom: 1px solid var(--white);
	text-decoration: none;
	font-size: .8em;
	cursor: pointer;
	transition: all .2s ease-in-out;
}
.footer-sites a:hover {
	color: var(--primary);
	border-bottom: 1px solid var(--primary);
}
/* Selection */
::selection {
	color: var(--white);
	background: var(--primary);
}
/* -
-*-~*~-*-*-~*~-*-*-~* |
- ' - Scrollbar - ' - |
-*-~*~-*-*-~*~-*-*-~* |
- */
::-webkit-scrollbar-track {
	background-color: var(--white);
}
::-webkit-scrollbar {
	width: 12px;
	background-color: var(--white);
}
::-webkit-scrollbar-thumb {
	background-color: var(--primary);
}
/* -
-*-~*~-*-*-~*~-*-*-~*~-*-~* |
Her starter alle @Keyframes |
-*-~*~-*-*-~*~-*-*-~*~-*-~* |
- */
@keyframes usermenushow {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes usermenuhide {
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes menushow {
	from { opacity: 0; left: -30%; }
	to { opacity: 1; left: 0; }
}
@keyframes menuhide {
	from { opacity: 1; left: 0; }
	to { opacity: 0; left: -30%; }
}

@media only screen and (max-width: 1456px) {
  .user-icon {
	  width: 225px;
	  height: 225px;
  }
  .username-wrapper {
	  font-size: 1.2em;
  }
  .user-info-bar {
	  grid-template-columns: 1fr 35% 0 25% 1fr;
	  grid-template-areas:
			".ufo-bar-col1 .ufo-bar-col2 .ufo-bar-col3 .ufo-bar-col4 .ufo-bar-col5";
  }
  .user-info-bar2 {
	  grid-template-columns: 1fr 12% 12% 12% 12% 12% 1fr;
	  grid-template-areas:
			".ufo-bar2-col1 .ufo-bar2-col2 .ufo-bar2-col3 .ufo-bar2-col4 .ufo-bar2-col5 .ufo-bar2-col6 .ufo-bar2-col7";
  }
}
@media only screen and (max-width: 1024px) {
  .user-icon {
	  width: 175px;
	  height: 175px;
  }
  .username-wrapper {
	  font-size: 1em;
  }
  .user-info-bar {
	  grid-template-columns: 1fr 45% 0 30% 1fr;
	  grid-template-areas:
			".ufo-bar-col1 .ufo-bar-col2 .ufo-bar-col3 .ufo-bar-col4 .ufo-bar-col5";
  }
  .user-info-bar2 {
	  grid-template-columns: 1fr 15% 15% 15% 15% 15% 1fr;
	  grid-template-areas:
			".ufo-bar2-col1 .ufo-bar2-col2 .ufo-bar2-col3 .ufo-bar2-col4 .ufo-bar2-col5 .ufo-bar2-col6 .ufo-bar2-col7";
  }
}
@media only screen and (max-width: 756px) {
  .user-icon {
	  width: 125px;
	  height: 125px;
  }
  .user-info-bar {
	  grid-template-columns: 1fr 57% 0 37% 1fr;
	  grid-template-areas:
			".ufo-bar-col1 .ufo-bar-col2 .ufo-bar-col3 .ufo-bar-col4 .ufo-bar-col5";
  }
  .user-info-bar2 {
	  grid-template-columns: 1fr 20% 20% 20% 20% 20% 1fr;
	  grid-template-areas:
			".ufo-bar2-col1 .ufo-bar2-col2 .ufo-bar2-col3 .ufo-bar2-col4 .ufo-bar2-col5 .ufo-bar2-col6 .ufo-bar2-col7";
  }
}
@media only screen and (max-width: 496px) {
  .user-icon {
	  width: 100px;
	  height: 100px;
  }
}
</style>

  <script>
  window.console = window.console || function(t) {};
</script>

  
  
  <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>


</head>

<body translate="no" >
  <nav id="navbar">
    <div class="pace">
        <div class="pace-progress"></div>
    </div>
    <div class="navbar-inner">
        <div class="navbar-left">
            <div id="nav-icon3">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-right">
            <img id="nb-u-ico" class="navbar-user-icon" src="https://i.imgur.com/WerKNvj.jpg" alt="">
        </div>
    </div>
</nav>
<ul id="usermenu">
    <div class="arrow"></div>
    <li class="usermenu-link-wrap"><a class="usermenu-link">
            <div class="usermenu-link-left"><i class="uil uil-user"></i></div>
            <div class="usermenu-link-right">Profile</div></a>
    </li>
    <li class="usermenu-link-wrap"><a class="usermenu-link">
            <div class="usermenu-link-left"><i class="uil uil-pen"></i></div>
            <div class="usermenu-link-right">Edit Profile</div></a>
    </li>
    <li class="usermenu-link-wrap"><a class="usermenu-link">
            <div class="usermenu-link-left"><i class="uil uil-video"></i></div>
            <div class="usermenu-link-right">My Studio</div></a>
    </li>
    <li class="usermenu-link-wrap"><a class="usermenu-link">
            <div class="usermenu-link-left"><i class="uil uil-setting"></i></div>
            <div class="usermenu-link-right">Settings</div></a>
    </li>
    <li class="usermenu-link-gold-wrap outline"><a class="usermenu-link-gold">
            <div class="usermenu-link-left"><i class="far fa-gem"></i></div>
            <div class="usermenu-link-right">Get Premium</div></a>
    </li>
</ul>
<div id="menu" class="menu">
    <div class="menu-inner">
        <div class="menu-sec">
            <ul class="menu-links">
                <li class="menu-link"><a class="menu-link-icon"><i class="uil uil-home-alt"></i></a>Home</li>
                <li class="menu-link"><a class="menu-link-icon"><i class="uil uil-video"></i></a>Videos</li>
                <li class="menu-link"><a class="menu-link-icon"><i class="uil uil-folder"></i></a>Categories</li>
            </ul>
        </div>
        <div class="menu-sec">
            <ul class="menu-links">
                <li class="menu-link"><a class="menu-link-icon"><i class="uil uil-folder-open"></i></a>Library</li>
                <li class="menu-link"><a class="menu-link-icon"><i class="uil uil-history"></i></a>History</li>
                <li class="menu-link"><a class="menu-link-icon"><i class="uil uil-thumbs-up"></i></a>Liked videos</li>
                <li class="menu-link"><a class="menu-link-icon"><i class="uil uil-heart"></i></a>Favorite videos</li>
                <li class="hidden-links"><a class="menu-link-icon"><i class="uil uil-cloud-heart"></i></a>Hidden 1</li>
                <li class="hidden-links"><a class="menu-link-icon"><i class="uil uil-cloud-bookmark"></i></a>Hidden 2</li>
                <li id="showmore1" class="menu-link" onclick="showmore()"><a class="menu-link-icon"><i class="uil uil-angle-down"></i></a>Show more</li>
            </ul>
        </div>
        <div class="menu-sec">
            <ul class="menu-links">
                <li class="menu-link"><a class="menu-link-icon"><i class="uil uil-users-alt"></i></a>Friends</li>
                <li class="menu-link"><a class="menu-link-icon"><i class="uil uil-star"></i></a>Subscriptions</li>
                <li class="menu-link"><a class="menu-link-icon"><i class="uil uil-chat"></i></a>Chat room</li>
                <li class="hidden-links2"><a class="menu-link-icon"><i class="uil uil-lightbulb-alt"></i></a>Hidden 1</li>
                <li class="hidden-links2"><a class="menu-link-icon"><i class="uil uil-brightness"></i></a>Hidden 2</li>
                <li id="showmore2" class="menu-link" onclick="showmore2()"><a class="menu-link-icon"><i class="fas fa-angle-down"></i></a>Show more</li>
            </ul>
        </div>
        <div class="menu-sec">
            <ul class="menu-links">
                <li class="menu-link" style="color:#626262;"><a class="menu-link-icon"><i class="uil uil-setting"></i></a>Settings</li>
                <li class="menu-link" style="color:#626262;"><a class="menu-link-icon"><i class="uil uil-question-circle"></i></a>Need help?</li>
                <li class="menu-link" style="color:#626262;"><a class="menu-link-icon"><i class="uil uil-comment-alt-exclamation"></i></a>Feedback</li>
            </ul>
        </div>
        <div class="menu-sec-bottom">
            <a class="menu-text-small">About</a>
            <a class="menu-text-small">Copyright</a>
            <a class="menu-text-small">Contact Us</a>
            <a class="menu-text-small">Creators</a>
            <a class="menu-text-small">Terms</a>
            <a class="menu-text-small">Privacy</a>
        </div>
        <p class="menu-text">&copy 2019 Areal Alien</p>
    </div>
</div>
<main>
    <div class="user-header-wrapper">
        <div class="user-icon-wrapper">
            <img class="user-icon" src="https://i.imgur.com/WerKNvj.jpg" alt="">
        </div>
        <div class="user-header-inner">
            <div class="user-header-overlay"></div>
            <img class="user-header" src="https://i.imgur.com/FDiUOQq.jpg" alt="">
        </div>
    </div>
    <div class="user-info-bar">
        <div class="ufo-bar-col1">

        </div>
        <div class="ufo-bar-col2">
            <div class="ufo-bar-col2-inner">
                <div class="username-wrapper">
                    <div class="verified"><p>Verified Account</p></div>
                    <h1 class="username">Areal Alien</h1>
                    <svg class="username-verified" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1350.03 1326.16">
                        <defs><style>.cls-11{fill: var(--primary);}.cls-12{fill:#ffffff;}</style></defs><title>verified</title>
                        <g id="Layer_3" data-name="Layer 3">
                        <polygon class="cls-11" points="0 747.37 120.83 569.85 70.11 355.04 283.43 292.38 307.3 107.41 554.93 107.41 693.66 0 862.23 120.83 1072.57 126.8 1112.84 319.23 1293.35 399.79 1256.05 614.6 1350.03 793.61 1197.87 941.29 1202.35 1147.15 969.64 1178.48 868.2 1326.16 675.02 1235.17 493.77 1315.72 354.99 1133.73 165.58 1123.29 152.16 878.64 0 747.37"/></g>
                        <g id="Layer_2" data-name="Layer 2">
                        <path class="cls-12" d="M755.33,979.23s125.85,78.43,165.06,114c34.93-36,234.37-277.22,308.24-331.94,54.71,21.89,85,73.4,93,80.25-3.64,21.89-321.91,418.58-368.42,445.94-32.74-3.84-259-195.16-275.4-217C689.67,1049.45,725.24,1003.85,755.33,979.23Z" transform="translate(-322.83 -335.95)"/></g>
                    </svg>
                </div>
                <div>
                    <a class="ufo-bar-fff" href="followers.php"><span>10.5K</span> Followers</a>
                    <a class="ufo-bar-fff" href="following.php">Following <span>512</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="ufo-bar-col3">
            <div class="ufo-bar-col3-inner">

            </div>
        </div>
        <div class="ufo-bar-col4">
            <div class="ufo-bar-col4-inner">
                <button class="button2 btn-primary2"><i class="uil uil-plus"></i> Subscribe<div class="btn-secondary2"></div></button>
            </div>
        </div>
        <div class="ufo-bar-col5">

        </div>
    </div>
    <div class="user-info-bar2">
        <div class="ufo-bar2-col1">

        </div>
        <div id="ufo-home" class="ufo-bar2-col2 ufo-bar2-block-active">
            <div class="ufo-bar2-col2-inner flexbox">
                <h3>Home</h3>
            </div>
        </div>
        <div id="ufo-videos" class="ufo-bar2-col3 ufo-bar2-block">
            <div class="ufo-bar2-col3-inner flexbox">
                <h3>Videos</h3>
            </div>
        </div>
        <div id="ufo-images" class="ufo-bar2-col4 ufo-bar2-block">
            <div class="ufo-bar2-col4-inner flexbox">
                <h3>Images</h3>
            </div>
        </div>
        <div id="ufo-playlists" class="ufo-bar2-col5 ufo-bar2-block">
            <div class="ufo-bar2-col5-inner flexbox">
                <h3>Playlists</h3>
            </div>
        </div>
        <div id="ufo-about" class="ufo-bar2-col6 ufo-bar2-block">
            <div class="ufo-bar2-col6-inner flexbox">
                <h3>About</h3>
            </div>
        </div>
        <div class="ufo-bar2-col7">

        </div>
    </div>
    <div class="user-info-block">

    </div>
</main>
<footer id="footer">
    <div class="footer-inner">
        <div class="footer-left">
            <a class="footer-mail">Find us everywhere.</a>
        </div>
        <div class="footer-right">
            <div class="footer-links">
                <a class="footer-link fl-first" href="https://www.youtube.com/ArealAlien" target="_blank">YouTube.</a>
                <a class="footer-link" href="https://twitter.com/Areal_Alien" target="_blank">Twitter.</a>
                <a class="footer-link" href="https://www.instagram.com/areal_alien/" target="_blank">Instagram.</a>
                <a class="footer-link fl-last" href="" target="_blank">About Us.</a>
            </div>
            <div class="footer-text">
                <p>Website &copy 2020 - 2020</p>
                <p>Made with ♥ by Areal Alien</p>
            </div>
            <div class="footer-sites">
                <a>Cookie Policy.</a> | <a href="https://www.unsplash.com" target="_blank">Unsplash.</a>
            </div>
        </div>
    </div>
</footer>
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
      <script id="rendered-js" >
$(window).click(function () {

  if (umenu.style.display === "flex") {
    umenu.style.animation = "usermenuhide .1s ease-in-out both";
    setTimeout(function () {

      umenu.style.display = "none";

    }, uMneuDelayInMilliseconds);
  } else {

  }

});

// open usermenu
var uMneuDelayInMilliseconds = 100;
const umenu = document.getElementById("usermenu");

$('#nb-u-ico').click(function (event) {

  event.stopPropagation();

  if (umenu.style.display === "none" || umenu.style.display == "") {
    umenu.style.display = "flex";
    umenu.style.animation = "usermenushow .1s ease-in-out";
  } else {
    umenu.style.animation = "usermenuhide .1s ease-in-out both";
    setTimeout(function () {

      umenu.style.display = "none";

    }, uMneuDelayInMilliseconds);
  }

});

// open menu
var MneuDelayInMilliseconds = 200;
$('#nav-icon3').click(function (event) {

  event.stopPropagation();

  if ($("#nav-icon3").hasClass('open')) {
    $('#nav-icon3').toggleClass('open');
    $('#menu').css("animation", "menuhide .2s ease-in-out forwards");
    setTimeout(function () {

      $('#menu').css("display", "none");

    }, MneuDelayInMilliseconds);
  } else {
    $('#nav-icon3').toggleClass('open');
    $('#menu').css("display", "flex");
    $('#menu').css("animation", "menushow .2s ease-in-out");
  }

});

$(document).ready(function () {
  var hidden1 = 0;
  $("#showmore1").click(function () {
    if (hidden1 == 0) {
      $(".hidden-links").show();
      document.getElementById("showmore1").innerHTML = "<a class='menu-link-icon'><i class=\"uil uil-angle-up\"></i></a>Show less";
      hidden1 = 1;
    } else {
      $(".hidden-links").hide();
      document.getElementById("showmore1").innerHTML = "<a class='menu-link-icon'><i class=\"uil uil-angle-down\"></i></a>Show more";
      hidden1 = 0;
    }});
});

$(document).ready(function () {
  var hidden1 = 0;
  $("#showmore2").click(function () {
    if (hidden1 == 0) {
      $(".hidden-links2").show();
      document.getElementById("showmore2").innerHTML = "<a class='menu-link-icon'><i class=\"uil uil-angle-up\"></i></a>Show less";
      hidden1 = 1;
    } else {
      $(".hidden-links2").hide();
      document.getElementById("showmore2").innerHTML = "<a class='menu-link-icon'><i class=\"uil uil-angle-down\"></i></a>Show more";
      hidden1 = 0;
    }});
});


$(".username-wrapper").on({
  mouseenter: function () {
    $(".verified").css("opacity", "1");
    $(".verified").css("top", "115%");
  },
  mouseleave: function () {
    $(".verified").css("opacity", "0");
    $(".verified").css("top", "150%");
  } });
//# sourceURL=pen.js
    </script>

  

</body>

</html>
 
